<!DOCTYPE html>
<html>
<head>
    \include{meta.html}
    \include{style.html}
    <title>JC: \title{}</title>
</head>
<body>
    <main>
        \include{header.html}
        
        <article>
            <h1 id="post-title">\title{}</h1>
            <div id="post-tags">
                <span>Tags: </span>\tags{<a href="/?tags=%k">%k</a>}
            </div>

            \contents{}
        </article>

        <aside>
            <span>\date{Posted: %Y/%M/%D}\edited{, Updated: %m %d, %Y}</span>
        </aside>
    </main>
</body>
</html>