<!DOCTYPE html>
<html lang="en">

<head>
    \include{meta.html}
    \include{style.html}
    <title>JC: Projects</title>
</head>

<body>
    \include{header.html}

    <main>
        <section class="project">
            <span>Sample Search</span>

            <div>
                <a href="https://judahcaruso.com/samplesearch/">Site</a>
            </div>

            <sub>Search term generator for rare samples</sub>

            <p>
                This is a simple utility for music producers to find samples using YouTube's vast library of videos.
                Since its creation the tool has been featured on some of the most popular sampling/music websites&colon;

                <a href="https://www.whosampled.com/news/2017/07/27/diggers-essential-sample-search-youtube-tool/">WhoSampled</a>,
                <a href="https://thevinylfactory.com/news/new-website-finds-obscure-songs-samples-youtube/">Vinyl Factory</a>,
                <a href="https://mixmag.fr/read/sample-search-outil-pour-les-diggers-news">Mixmag</a>,

                and

                <a href="https://www.tracklib.com/">Tracklib</a>.

                It was even featured in a

                <a href="https://abciber.org.br/anais-abciber-2017.pdf#page=3420">journal (p.3420)</a>
                by the School of Communications and Arts at the University of São Paulo.
            </p>
        </section>

        <section class="project">
            <span>Tank Tactics Bot</span>
            <sub>Discord port of the strategy game, Tank Turn Tactics</sub>

            <p>
                I'm a huge fan of

                <a href="https://www.youtube.com/watch?v=t9WMNuyjm4w">Luke Mascat's talk</a>

                about a tabletop strategy game that was banned from his workplace.
                Not having a way to play this game myself, I decided to remake it, doing a small design deep dive
                on Discord bots as a medium for multiplayer games.
            </p>
        </section>

        <section class="project">
            <span>Rhythm HQ</span>

            <div>
                <a href="https://github.com/judah-caruso/rhythmhq">GitHub A</a>
                <a href="https://github.com/judah-caruso/rhythmhq-flask">GitHub B</a>
            </div>

            <sub>Internet radio station for underground artists around the world</sub>

            <p>
                RhythmHQ was a project stemming from the idea of

                <a href="">Pirate Radio Stations</a>

                but with a focus on underground artists from different parts of the world. This was
                also around the time I discovered serverless architecture and thought it would be
                a fun way to learn more.
            </p>
        </section>

        <section class="project">
            <span>Doc</span>

            <div>
                <a href="https://github.com/judah-caruso/judah-caruso.github.io">GitHub</a>
                <a href="/back-online">01</a>
            </div>

            <sub>Markup language, document converter, static site generator</sub>

            <p>
                I've written many site generators in the past. This is just another in the long bloodline of <em>House Static Site Generator</em>.
            </p>
        </section>
    </main>

    \include{footer.html}
</body>

</html>