@media (prefers-color-scheme: dark) {
  html {
    --color-foreground: #b5b5c0;
    --color-background: #1b1c22;
  }
}
@media (prefers-color-scheme: light) {
  html {
    --color-foreground: #000;
    --color-background: #f7f7f7;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-foreground);
}

::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 700px;
  font-size: 1em;
  line-height: 1.62;
  font-family: serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding-left: 30px;
  padding-right: 30px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
  margin: 30px 0 30px 0;
  min-height: 80px;
}

header svg {
  width: 60px;
  height: 60px;
}

header > nav > ul {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(6, auto);
  grid-auto-flow: column dense;
  grid-column-gap: 10px;
  width: fit-content;
}

header > nav > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

main h1,
main h2,
main h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 350px;
  text-transform: lowercase;
}

main h1:first-letter,
main h2:first-letter,
main h3:first-letter {
  text-transform: uppercase;
}

figure > img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

main a:before {
  content:"{";
}
main a:after {
  content:"}";
}

main a[target="_blank"]:before {
  content:"[";
}
main a[target="_blank"]:after {
  content:"]"
}

/*
main p {
  text-align: justify;
}
*/

main figure > *,
main figure > div > *,
main p {
  margin-bottom: 20px;
}

body a:hover,
main a:hover > * {
  background-color: var(--color-foreground);
  color: var(--color-background);
  text-decoration: none;
}

figure > img {
  max-width: 100%;
}

figure > figcaption {
  font-style: italic;
  margin: 0 0 30px 30px;
}

main pre {
  display: block;
  /* width: fit-content;*/
  max-width: 100%;
  overflow: scroll;
  background: #efefef;
  padding: 10px;
  tab-size: 3;
  font-size: 80%;
  font-family: monospace;
  line-height: 1.4;
  margin-bottom: 30px;
}

main ul {
  margin-bottom: 20px;
}

main ul > li {
  list-style: none;
  margin-left: 30px;
}

main ul > li:before {
  content: "- ";
}

main h1 {
  font-size: 1.5em;
}

main h2 {
  font-size: 1.25em;
}

footer {
  margin: 30px 0 0 0;
  padding: 10px 0 0 0;
  line-height: 30px;
  clear: both;
}

footer > * {
  display: inline-block;
  margin-right:5px;
}

a.broken {
  font-style: italic;
}
a.broken:before {
  content: "[";
}
a.broken:after {
  content: "]";
}

#logo-fg {
  fill: none;
  stroke: var(--color-background);
  pointer-events: none;
}
#logo-mid {
  fill: var(--color-foreground);
  stroke: var(--color-foreground);
  pointer-events: none;
}
#logo-bg {
  fill: var(--color-foreground);
  stroke: var(--color-foreground);
}
#logo-bg:hover {
  fill: var(--color-foreground);
  stroke: var(--color-foreground);
  opacity: 50%;
}
